.container {
  width: 80%;
  margin: auto;
}

.dice {
  display: inline-block;
}

body {
  color: #4ecca3;
  text-align: center;
  background-color: #393e46;
}

h1 {
  margin: 2rem;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
}

p {
  font-size: 2rem;
  font-family: "Indie Flower", cursive;
}

img {
  width: 80%;
}

footer {
  font-size: 1.4rem;
  margin-top: 5%;
  margin-bottom: 0;
  color: #eeeeee;
  font-family: "Indie Flower", cursive;
}
